<div [ngClass]="{'fixed w-full h-full inset-0 bg-purple-300 z-[100]': fullPage}">
  <div class="flex relative flex-col text-white bg-black h-full" cdkDropListGroup>
    <button
      (click)="toggleFullPage()"
      class="absolute top-3 right-3 transition-all transform hover:text-black hover:bg-white -translate-x-25 bg-white/50">
      <mat-icon>fullscreen</mat-icon>
    </button>
    <div class="divide-y divide-y-4">
      <div *ngFor="let category of categories; index as i" class="flex">
        <div
          class="w-36 h-36 p-4 text-4xl uppercase flex align-center items-center"
          [style]="getStyle(category)"
        >
          <span> {{ category.name }} </span>
        </div>
        <div
          class="flex items-center p-4 gap-3 bg-black grow"
          cdkDropList
          [cdkDropListData]="categories[i].items"
          (cdkDropListDropped)="onDrop($event)"
          cdkDropListOrientation="horizontal"
        >
          <span
            class="text-4xl bg-white/10 px-1 h-16 flex items-center"
            *ngFor="let item of category.items"
            cdkDrag
            >{{ item }}</span>
        </div>
      </div>
      <div
        class="bg-[#5a1900] min-h-[10rem] text-4xl flex gap-4 p-3 transition-all duration-75 h-full"
        cdkDropList
        [cdkDropListData]="items"
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="onDrop($event)"
      >
        <span class="text-4xl bg-white/10 px-1 h-16 flex items-center" *ngFor="let item of items" cdkDrag>
          {{ item }}
        </span>
      </div>
    </div>
  </div>
</div>
